@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .frosted {
    @apply bg-slate-400/75 backdrop-blur-lg saturate-150 ring-1 ring-slate-300/70 shadow-lg bg-blend-overlay drop-shadow-2xl;
  }
  .control-input {
    @apply rounded-md p-2 text-sm hover:ring-sky-400 focus:bg-sky-50 focus:outline-none focus:ring focus:ring-violet-800;
  }
  .label {
    @apply flex items-start h-6 text-xs uppercase font-bold text-black;
  }
  .control-button-container {
    @apply p-2 drop-shadow-md font-bold select-none ring-2 ring-black bg-white text-black rounded-md cursor-pointer active:bg-violet-800 active:ring-inset hover:text-white hover:bg-violet-700 hover:ring-2 hover:ring-white transition-all duration-75;
  }
  .control-button {
    @apply flex justify-center;
  }
  .bar-area {
    @apply h-full flex justify-evenly items-end;
  }
  .bar {
    @apply h-full mx-[1px] w-5 bg-gray-900;
  }
  .sorted {
    @apply bg-green-600/70 fill-green-600;
  }
  .insertion-initial {
    @apply bg-sky-800;
  }
  .insertion-final {
    @apply bg-green-500;
  }
  .insertion-comparing {
    @apply bg-yellow-400;
  }
  .merge-left {
    @apply bg-blue-400;
  }
  .merge-right {
    @apply bg-blue-800;
  }
  .merge-comparing {
    @apply bg-yellow-400;
  }
  .merge-out-of-bound {
    @apply bg-slate-400/30;
  }
  .heap-parent {
    @apply bg-blue-600 fill-blue-600;
  }
  .heap-left-child {
    @apply bg-amber-500 fill-amber-500;
  }
  .heap-right-child {
    @apply bg-amber-700 fill-amber-700;
  }
  .heap-out-of-bound {
    @apply bg-slate-400/60 fill-slate-400;
  }
}

@layer base {
  .heading {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.05rem;
  }
  .app-bg {
    background-image: linear-gradient(
      to right bottom,
      #ffffff,
      #f8f8f8,
      #f0f0f0,
      #e9e9e9,
      #e2e2e2
    );
  }
  .toast {
    animation: fadein 3s cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-fill-mode: forwards;
  }

  @keyframes fadein {
    0% {
      opacity: 0;
    }
    20% {
      opacity: 1;
    }
    80% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }


}
